@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
}

header {
    width: 100%;
    height: 131px;
    display: flex;
    background-color: #116cff;
    align-items: center;
    justify-content: center;
}

.logo {
    position: absolute;
    width: 129.32px;
    height: 37px;
    left: 100px;
    top: 42px;
    background: #00235C;
    display: flex;
    align-items: center;
}

.logoq {
    position: absolute;
    width: 35.94px;
    height: 37px;
    left: 0px;
    background: #FFFFFF;
}

.logo h1 {
    position: relative;
    width: 79px;
    height: 18px;
    left: 45.46px;
    top: 3.51px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 12.6857px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.logoq h1 {
    position: relative;
    width: 18px;
    height: 18px;
    left: 9.51px;
    top: 9.51px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 22.5524px;
    line-height: 18px;
    /* identical to box height, or 78% */
    letter-spacing: 0.02em;
    color: #00235C;
}

.botao {
    display: flex;
    align-items: center;
    justify-content: center;
}

.botao a {
    text-decoration: none;
    margin-left: 92px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    top: 0px;
    left: 0px;
    position: relative;
}

.login {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 30px;
    position: relative;
    width: 104px;
    height: 39px;
    left: 171px;
    top: 0px;
    background: #FFFFFF;
    border-radius: 10px;
}

.login a {
    position: relative;
    width: 44px;
    height: 19px;
    left: 30px;
    top: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #116CFF;
    text-decoration: none;

}

section {
    min-height: 728px;
}

#pag1 {
    background-color: #116cff;
}

.dad {
    position: relative;
    width: 522px;
    height: 161px;
    left: 100px;
    top: 73px;
}

.dad h1 {
    position: relative;
    width: 522px;
    height: 161px;
    left: 0px;
    top: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 160%;
    color: #FFFFFF;
}

.son {
    position: relative;
    width: 403px;
    height: 64px;
    left: 100px;
    top: 100px;
}

.son h1 {
    position: relative;
    width: 403px;
    height: 64px;
    left: 0px;
    top: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 180%;
    color: #FFFFFF;
}

.bt1 {
    position: absolute;
    width: 200px;
    height: 52px;
    left: 100px;
    top: 477px;
    background: #FFFFFF;
    border-radius: 10px;
}

.bt1 a {
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    top: 15px;
    left: 38px;
    text-decoration: none;
    color: #116CFF;
}

.bt2 {
    position: absolute;
    width: 200px;
    height: 52px;
    left: 324px;
    top: 477px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
}

.bt2 a {
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    top: 15px;
    left: 46px;
    color: #FFFFFF;
    text-decoration: none;
}

.qb {
    position: absolute;
    width: 423px;
    height: 395px;
    left: 748px;
    top: 166px;
    background: #FFFFFF;
    border-radius: 20px;
}

.men img {
    position: absolute;
    width: 632px;
    height: 386.5px;
    left: 634px;
    top: 160px;
}

.est img {
    position: absolute;
    width: 34px;
    height: 32.76px;
    left: 730px;
    top: 158px;
}

.est2 img {
    position: absolute;
    width: 34px;
    height: 32.76px;
    left: 1144px;
    top: 544px;
}

.bl1 {
    position: absolute;
    width: 263px;
    height: 60px;
    left: 1003px;
    top: 131px;
    background: #FFCF2D;
    border-radius: 20px;
}

.bl1 h1 {
    position: relative;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    top: 18px;
    color: #00235C;
    left: 0px;
}

.bl2 {
    position: absolute;
    width: 263px;
    height: 60px;
    left: 609px;
    top: 525px;
    background: #E7F0FF;
    border-radius: 20px;
}

.bl2 h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #00235C;
    position: relative;
    top: 18px;
}

.tri {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 858px;
    top: 541px;
    background: #E7F0FF;
    transform: rotate(-30deg);
}

.tri2 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 999px;
    top: 147px;
    background: #FFCF2D;
    transform: matrix(-0.87, -0.5, -0.5, 0.87, 0, 0);
}

.pag2 {
    display: flex;
    align-items: center;
}

.game img {
    position: relative;
    width: 583px;
    height: 488px;
    left: 45px;
    top: 68px;
}

.tx {
    position: relative;
    width: 630px;
    height: 120px;
    left: 628px;
    top: -320px;
}

.tx h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    color: #00235C;
}

.tx2 {
    position: relative;
    width: 561px;
    height: 160px;
    left: 628px;
    top: -300px;
}

.tx2 h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #00235C;
}

#pag3 {
    background-color: #116cff;
}

.pag3 {
    display: flex;
    align-items: center;
}

.for img {
    position: relative;
    left: 650px;
    top: 40px;
}

.te {
    position: relative;
    width: 570px;
    height: 180px;
    left: 100px;
    top: -400px;
}

.te h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    color: #FFFFFF;
}

.te2 {
    position: relative;
    width: 526px;
    height: 120px;
    left: 100px;
    top: -360px;
}

.te2 h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #FFFFFF;
}

.pag4 {
    display: flex;
    align-items: center;
    max-height: 1080px;
}

.star img {
    position: relative;
    width: 80%;
    height: 300px;
    left: 274px;
    top: -1265px;
}

.tit h1 {
    position: relative;
    left: 101px;
    top: 60px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    width: 185px;
    height: 50px;
    color: #116CFF;
}

.eleanor img {
    position: relative;
    width: 65.45px;
    height: 64.1px;
    left: 107.27px;
    top: 169.12px;

}

.jane img {
    position: relative;
    width: 64.74px;
    height: 65.45px;
    left: 107.19px;
    top: 170.5px;
}

.cameron img {
    position: relative;
    width: 65.45px;
    height: 65.45px;
    left: 1258.73px;
    top: -442.73px;
}

.jenny img {
    position: relative;
    width: 65.45px;
    height: 65.45px;
    left: 1258.73px;
    top: -442.73px;
}

.eleanor1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    position: relative;
    width: 440px;
    height: 187px;
    left: 208.66px;
    top: 100px;
    background: #E7F0FF;
    border-radius: 20px;
    z-index: 1;
}

.eleanor1 h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.015em;
    color: #00235C;
}

.eleanor1 span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.015em;
    color: #00235C;
}

.eleanor1 img {
    position: relative;
    width: 120px;
    height: 20px;
    left: 0px;
    top: 8px;
}

.eleanor1 h2 {
    position: relative;
    width: 392px;
    height: 78px;
    left: 0px;
    top: 36px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 39px;
    color: #00235C;
}

.eleanor1 h2 span {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;

    color: #FF463A;

}

.jane1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    position: relative;
    width: 440px;
    height: 187px;
    left: 208.66px;
    top: 100px;
    background: #FFE6E5;
    border-radius: 20px;
    z-index: 1;
}

.jane1 h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.015em;
    color: #00235C;
}

.jane1 span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.015em;
    color: #00235C;
}

.jane1 img {
    position: relative;
    width: 120px;
    height: 20px;
    left: 0px;
    top: 8px;
}

.jane1 h2 {
    position: relative;
    width: 392px;
    height: 78px;
    left: 0px;
    top: 36px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 39px;
    color: #00235C;
}

.jane1 h2 span {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;

    color: #FF463A;

}

.cameron1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    position: relative;
    width: 440px;
    height: 187px;
    left: 728.27px;
    top: -509px;
    background: #FFE6E5;
    ;
    border-radius: 20px;
    z-index: 1;
}

.cameron1 h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.015em;
    color: #00235C;
}

.cameron1 span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.015em;
    color: #00235C;
}

.cameron1 img {
    position: relative;
    width: 120px;
    height: 20px;
    left: 0px;
    top: 8px;
}

.cameron1 h2 {
    position: relative;
    width: 392px;
    height: 78px;
    left: 0px;
    top: 36px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 39px;
    color: #00235C;
}

.cameron1 h2 span {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;

    color: #FF463A;

}

.jenny1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    position: relative;
    width: 440px;
    height: 187px;
    left:727.66px;
    top: -509px;
    background: #E7F0FF;
    border-radius: 20px;
    z-index: 1;
}

.jenny1 h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.015em;
    color: #00235C;
}

.jenny1 span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.015em;
    color: #00235C;
}

.jenny1 img {
    position: relative;
    width: 120px;
    height: 20px;
    left: 0px;
    top: 8px;
}

.jenny1 h2 {
    position: relative;
    width: 392px;
    height: 78px;
    left: 0px;
    top: 36px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 39px;
    color: #00235C;
}

.jenny1 h2 span {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;

    color: #FF463A;
}

#pag5 {
    background-color: #116cff;
}
.pag5{
display: flex;
align-items: center;
}

.til h1
{
position: relative;
width: 172px;
height: 50px;
left: 100px;
top: 60px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 50px;

color: #FFFFFF;
}

.topo1{
position: relative;
width: 1166px;
height: 115px;
left: 100px;
top: 162px;

background: rgba(255, 255, 255, 0.8);
border-radius: 10px 10px 0px 0px;
}

.beg{
position: relative;
width: 288px;
height: 30px;
left: 24px;
top: 16px;
}

.beg h1{
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
text-align: center;

color: #00235C;

}

.pre{
    position: absolute;
width: 105px;
height: 25px;
left: 510px;
top: 16px;
}

.pre h1{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 25px;


color: #00235C;
}

.kid{
    position: absolute;
width: 95px;
height: 25px;
left: 515px;
top: 65px;
}

.kid h1{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 25px;

color: #00235C;

}

.tim{
    position: absolute;
width: 118px;
height: 25px;
left: 671px;
top: 16px;
}

.tim  h1{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 25px;

color: #00235C;
}

.onl{
    position: absolute;
width: 170px;
height: 25px;
left: 671px;
top: 65px;
}

.onl h1{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 25px;

color: #00235C;

}

.estrela2 img{
    position: absolute;
width: 18.95px;
height: 20px;
left: 42.61px;
top: 62px;
}

.estrela3 img{
    position: absolute;
width: 18.95px;
height: 20px;
left: 67.87px;
top: 62px;
}

.estrela4 img{
    position: absolute;
width: 18.95px;
height: 20px;
left: 93.13px;
top: 62px;
}

.estrela5 img{
    position: absolute;
width: 18.95px;
height: 20px;
left: 118.4px;
top: 62px;
}

.estrela img{
    position: absolute;
width: 18.95px;
height: 20px;
left: 143.66px;
top: 62px;
}

.etiqueta img{
    position: absolute;
left: 481.6px;
right: 8.47%;
top: 19.6px;
bottom: 8.47%;

}

.user img{
    position: absolute;
left: 485px;
right: 8.33%;
top: 68px;
bottom: 12.5%;

}

.timer img{
    position: absolute;
left: 643px;
right: 16.67%;
top: 19.06px;
bottom: 12.5%;
}

.vector img{
    position: absolute;
left: 640px;
right: 4.17%;
top: 70px;
bottom: 20.83%;
}

.detail{
position: absolute;
width: 135px;
height: 50px;
left: 1007px;
top: 33px;

background: #116CFF;
border-radius: 10px;
}

.detail h1{
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
text-align: center;
position: absolute;
left: 12px;
top: 10px;
color: #FFFFFF;
}

.quadro{
    position: relative;
width: 1166px;
height: 259px;
left: 100px;
top: 162px;

background: #FFFFFF;
}

.inter {
    position: absolute;
width: 327px;
height: 32.59px;
left: 124px;
top: 293.17px;
}

.inter h1{
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;

color: #116CFF;
}

.linha1{
    position: relative;
width: 1166px;
height: 0px;
left: 0px;
top: 65px;

background: #116CFF;
border: 0.5px solid #116CFF;
}

.linha2{
    position: relative;
width: 1166px;
height: 0px;
left:0px;
top: 120px;

background: #116CFF;
border: 0.5px solid #116CFF;
}

.linha3{
    position: relative;
width: 1166px;
height: 0px;
left: 0px;
top: 194px;

background: #116CFF;
border: 0.5px solid #116CFF;
}

.info1 {
    position: relative;
    width: 1166px;
    height: 65px;
    left:20px;
    top: 0px;
    align-items: center;
    
}

.info1 h1{
position: absolute;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
top: 16.7px;

color: #116CFF;

}

.estrel1{
    position: relative;
    width: 119.34px;
    height: 20px;
    left: 535.66px;
    top: 23px;
}

.info1 h2{
    position: absolute;
width: 67px;
height: 30px;
left: 1075px;
top: 22px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */

text-align: right;

color: #00235C;
}

.info2 {
    position: relative;
    width: 1166px;
    height: 65px;
    left:20px;
    top: 0px;
    align-items: center;
    
}

.info2 h1{
position: absolute;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
top: 16.7px;

color: #116CFF;

}

.estrel2{
    position: relative;
    width: 119.34px;
    height: 20px;
    left: 535.66px;
    top: 23px;
}

.info2 h2{
    position: absolute;
width: 67px;
height: 30px;
left: 1075px;
top: 22px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */

text-align: right;

color: #00235C;
}

.info3 {
    position: relative;
    width: 1166px;
    height: 65px;
    left:20px;
    top: -1px;
    align-items: center;
    
}

.info3 h1{
position: absolute;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
top: 16.7px;

color: #116CFF;

}

.estrel3{
    position: relative;
    width: 119.34px;
    height: 20px;
    left: 535.66px;
    top: -14px;
}

.info3 h2{
    position: absolute;
width: 67px;
height: 30px;
left: 1075px;
top: 22px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;

text-align: right;

color: #FF463A;
}

.butao{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    
    position: relative;
    width: 47px;
    height: 25px;
    left: 190px;
    top: 10px;
    background: #FFE6E5;
    border-radius: 5px;
}

.butao h1{
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
text-align: center;
position: absolute;
color: #FF463A;
top: 1px
}

.info4{
position: absolute;
width: 153px;
height: 33px;
left: 20px;
top: 215px;

}

.info4 h1{
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
color: #116CFF;

}
.pag5{
    display: flex;
    align-items: center;
}

.jo{
    position: relative;
width: 411px;
height: 96px;
left: 478px;
top: 60px;
}

.jo h1{
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 50px;
text-align: center;

color: #00235C;

}